<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
      <title>Time Sheet Management</title>
        <link rel="icon" href="/media/images/img.jpg" />
        <link rel="stylesheet" href="/media/css/bootstrap.min.css">
        <link rel="stylesheet" href="/media/css/bootstrap-theme.min.css">


        <script src="/media/js/jquery.min.js"></script>



      {% block head %}

      {% endblock %}
  </head>

  <body style=";  margin:auto;">

  {% block content %}

  {% endblock %}

  {% block footer %}


  {% endblock %}

  </body>